.btn {
  width: 120px;
  background-color: blue;
  color: #ffffff;
  padding: 8px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.wrapper {
  max-width: 600px;
  border: 1px solid #bfbf77;
  display: flex;
  gap: 15px;
}
